* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 50%;
}

.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 50%;
    background-color: rgb(179, 122, 233);
    border-radius: 12px;
    color: aliceblue;
    height: 300px;
    text-align: center;
}

.card{
    border: 0px;
}